<section class="example-header" style="margin-top: 0px;">
  <h1>Device Table By Branch</h1>
</section>

<div class="example-container mat-elevation-z8" >

  <div class="example-header"
       [style.display]="selection.isEmpty() ? '' : 'none'">

    <div style="margin-left: 40px">
      <button *ngIf="auth.getAdmin()"
        (click)="addDevice()" mat-fab color="primary">
        <i class="fa fa-plus" style="font-size:24px; margin-right: 5px"></i></button>
    </div>

    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="Filter users">
    </mat-input-container>


    <!--<div class="text-right" style="margin-left: 200px">-->
      <!--<button type="button" class="btn btn-sm btn-success"-->
              <!--(click)="exportCSV()">-->
        <!--<span class="glyphicon glyphicon-export"></span>-->
      <!--</button>-->
    <!--</div>-->
  </div>


  <mat-table #table [dataSource]="dataSource" matSort>


    <!-- ID Column -->
    <ng-container cdkColumnDef="avatar">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
                       [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}"> Avatar </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
      <span>
        <img class="img-responsive"
             src="../../../assets/images/ingenico.png"
             style="width:40px; height:40px;">
      </span>
      </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="id">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
                       [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}"> DVDVID </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'font-size': '18px', 'font-family': 'Cambria, Georgia'}"> {{row.dvdvid}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="branch">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
                       [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}"> DVBRCH </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'font-size': '18px', 'font-family': 'Cambria, Georgia'}"> {{row.dvbrch}} </mat-cell>
    </ng-container>

    <!-- Name Loc1 -->
    <ng-container cdkColumnDef="dvloc1">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
                       [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}"> LOC 1 </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'font-size': '18px', 'font-family': 'Cambria, Georgia'}"> {{row.dvloc1}} </mat-cell>
    </ng-container>

    <!-- Name REPORT -->
    <ng-container cdkColumnDef="report">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
                       [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}"> REPORT </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'font-size': '18px', 'font-family': 'Cambria, Georgia'}"> {{row.report}} </mat-cell>
    </ng-container>




    <!--button direction - actions-->
    <ng-container matColumnDef="action1">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->

        <button (click)="goDirection(element)" mat-icon-button class="cyan-icon">
          <i class="fa fa-map-marker" style="font-size:24px; margin-right: 5px"></i>
        </button>
      </mat-cell> </ng-container>

    <!--button view - actions-->
    <ng-container matColumnDef="action2">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->

        <button (click)="viewDevice(element)"
                mat-icon-button class="green-icon">
          <i class="fa fa-book" style="font-size:24px; margin-right: 5px"></i>
        </button>
      </mat-cell>
    </ng-container>

    <!--button report - actions-->
    <ng-container matColumnDef="action3">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->

        <button *ngIf="auth.getAdmin() || auth.getRoleEdit()"
          (click)="reportEdc(element)"
                mat-icon-button class="pink-icon">
          <i class="fa fa-wrench" style="font-size:24px; margin-right: 5px"></i>
        </button>
      </mat-cell> </ng-container>

    <!--button edit - actions-->
    <ng-container matColumnDef="action4">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->

        <button *ngIf="auth.getAdmin() || auth.getRoleAdd()"
          (click)="editDevice(element)" mat-icon-button class="orange-icon">
          <i class="fa fa-pencil" style="font-size:24px; margin-right: 5px"></i>
        </button>
      </mat-cell> </ng-container>

    <!--button delete - actions-->
    <ng-container matColumnDef="action5">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="auth.getAdmin() || auth.getRoleDelete()"
          (click)="deleteDevice(element)" mat-icon-button class="red-icon">
          <i class="fa fa-trash" style="font-size:24px; margin-right: 5px"></i>
        </button>
        <!--<button (click)="removeItems(element)" mat-raised-button color="warn">Delete</button>-->
      </mat-cell> </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             (click)="selectRow(row)">
    </mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No users found matching filter.
  </div>

  <mat-paginator #paginator [ngStyle]="{'font-size': '16px', 'font-style':'bold'}"
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="25"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
