<section class="example-header" style="margin-top: 0px;">
  <h1>Device Table By Branch</h1>
  <div style="text-align: end">
    <a routerLink="/device-table" routerLinkActive="active">
      <i class="fa fa-arrow-left" style="font-size:24px; margin-right: 20px; color: #4b88a3;"></i>
    </a>
  </div>
</section>

<!-- <div style="text-align: end">
  <a routerLink="/device-table" routerLinkActive="active">
    <i class="fa fa-arrow-left" style="font-size:24px; margin-right: 5px"></i>
    Back
  </a>
</div> -->

<div class="example-container mat-elevation-z8">

  <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">

    <!-- <div style="margin-left: 40px">
      <button class="polySecond poly2" *ngIf="auth.getAdmin()" mat-fab color="primary" data-toggle="modal"
        data-target="#modalAddDevice">
        <i class="fa fa-plus" style="font-size:24px; margin-right: 5px"></i></button>
    </div> -->

    <div class="col justify-content-start">
      <button class="btn draw-border" *ngIf="auth.getAdmin()" data-toggle="modal" data-target="#modalAddDevice"
        (click)="clearModel()"><i class="fa fa-plus"></i></button>
    </div>

    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="Filter users by DVBRCH">
    </mat-input-container>

  </div>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav #sidenav mode="push" fixedTopGap="56" position="end" hasBackdrop="false">
      <div class="scroll-sidebar">
        <h5 class="text-start font-weight-bold text-secondary">Device Detail : </h5>
        <hr>
        <ul class="list-unstyled">

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvdid</p>
            <ul>
              <li *ngIf="dvdvid !== null">{{dvdvid}}</li>
              <li *ngIf="dvdvid === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvbrch</p>
            <ul>
              <li *ngIf="dvbrch !== null">{{dvbrch}}</li>
              <li *ngIf="dvbrch === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvdown</p>
            <ul>
              <li *ngIf="dvdown !== null">{{dvdown}}</li>
              <li *ngIf="dvdown === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvdrch</p>
            <ul>
              <li *ngIf="dvdrch !== null">{{dvdrch}}</li>
              <li *ngIf="dvdrch === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvloc1</p>
            <ul>
              <li *ngIf="dvloc1 !== null">{{dvloc1}}</li>
              <li *ngIf="dvloc1 === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvloc2</p>
            <ul>
              <li *ngIf="dvloc2 !== null">{{dvloc2}}</li>
              <li *ngIf="dvloc2 === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvloc3</p>
            <ul>
              <li *ngIf="dvloc3 !== null">{{dvloc3}}</li>
              <li *ngIf="dvloc3 === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvserl</p>
            <ul>
              <li *ngIf="dvserl !== null">{{dvserl}}</li>
              <li *ngIf="dvserl === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvmake</p>
            <ul>
              <li *ngIf="dvmake !== null">{{dvmake}}</li>
              <li *ngIf="dvmake === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Dvmodl</p>
            <ul>
              <li *ngIf="dvmodl !== null">{{dvmodl}}</li>
              <li *ngIf="dvmodl === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Latitude</p>
            <ul>
              <li *ngIf="latitude !== null">{{latitude}}</li>
              <li *ngIf="latitude === null">-</li>
            </ul>
          </li>

          <li class="ml-2 mt-3">
            <p class="font-weight-bold">Longtitude</p>
            <ul>
              <li *ngIf="longitude !== null">{{longitude}}</li>
              <li *ngIf="longitude === null">-</li>
            </ul>
          </li>
        </ul>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <mat-table class="container-scroll" #table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container cdkColumnDef="avatar">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}">
            Avatar </mat-header-cell>
          <mat-cell *cdkCellDef="let row">
            <span>
              <img class="img-responsive" src="../../../assets/images/ingenico.png" style="width:40px; height:40px;">
            </span>
          </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="id">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}">
            DVDVID </mat-header-cell>
          <mat-cell *cdkCellDef="let row" [ngStyle]="{'font-size': '18px', 'font-family': 'Quicksand, sans-serif'}">
            {{row.dvdvid}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="branch">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}">
            DVBRCH </mat-header-cell>
          <mat-cell *cdkCellDef="let row" [ngStyle]="{'font-size': '18px', 'font-family': 'Quicksand, sans-serif'}">
            {{row.dvbrch}} </mat-cell>
        </ng-container>

        <!-- Name Loc1 -->
        <ng-container cdkColumnDef="dvloc1">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}">
            LOC
            1 </mat-header-cell>
          <mat-cell *cdkCellDef="let row" [ngStyle]="{'font-size': '18px', 'font-family': 'Quicksand, sans-serif'}">
            {{row.dvloc1}} </mat-cell>
        </ng-container>

        <!-- Name REPORT -->
        <ng-container cdkColumnDef="report">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [ngStyle]="{'font-size': '18px', 'font-weight': 'bold'}">
            REPORT </mat-header-cell>
          <mat-cell *cdkCellDef="let row" [ngStyle]="{'font-size': '18px', 'font-family': 'Quicksand, sans-serif'}">
            {{row.report}} </mat-cell>
        </ng-container>




        <!--button direction - actions-->
        <ng-container matColumnDef="action1">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->

            <button (click)="goDirection(element)" mat-icon-button class="logo-icon" matTooltip="Get Direction"
              [matTooltipPosition]="toolTipsPosition">
              <i class="fa fa-paper-plane-o" style="font-size:24px; margin-right: 5px"></i>
            </button>
          </mat-cell>
        </ng-container>

        <!--button view - actions-->
        <ng-container matColumnDef="action2">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->
            <!-- <button (click)="viewDevice(element)" mat-icon-button class="green-icon">
              <i class="fa fa-book" style="font-size:24px; margin-right: 5px"></i>
            </button> -->
            <button (click)="snav.toggle();" mat-icon-button class="logo-icon" matTooltip="Open Detail"
              [matTooltipPosition]="toolTipsPosition">
              <i class="fa fa-info" style="font-size:24px; margin-right: 5px"></i>
            </button>
          </mat-cell>
        </ng-container>

        <!--button report - actions-->
        <ng-container matColumnDef="action3">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->

            <button *ngIf="auth.getAdmin() || auth.getRoleEdit()" (click)="reportEdc(element)" mat-icon-button
              matTooltip="Get Report Detail" [matTooltipPosition]="toolTipsPosition" class="logo-icon">
              <i class="fa fa-bar-chart-o" style="font-size:24px; margin-right: 5px"></i>
            </button>
          </mat-cell>
        </ng-container>

        <!--button edit - actions-->
        <ng-container matColumnDef="action4">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<button (click)="editItem(element)" mat-raised-button color="primary">Edit</button>-->
            <!-- <button *ngIf="auth.getAdmin() || auth.getRoleAdd()" (click)="editDevice(element)" mat-icon-button
              matTooltip="Edit Device" data-toggle="modal" data-target="#modalEditDevice"
              [matTooltipPosition]="toolTipsPosition" class="orange-icon">
              <i class="fa fa-pencil" style="font-size:24px; margin-right: 5px"></i>
            </button> -->
            <button *ngIf="auth.getAdmin() || auth.getRoleAdd()" mat-icon-button matTooltip="Edit Device"
              data-toggle="modal" data-target="#modalEditDevice" [matTooltipPosition]="toolTipsPosition"
              class="logo-icon">
              <i class="fa fa-pencil-square-o" style="font-size:24px; margin-right: 5px"></i>
            </button>
          </mat-cell>
        </ng-container>

        <!--button delete - actions-->
        <ng-container matColumnDef="action5">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- <button *ngIf="auth.getAdmin() || auth.getRoleDelete()" (click)="deleteDevice(element)" mat-icon-button
              matTooltip="Delete Device" [matTooltipPosition]="toolTipsPosition" class="red-icon">
              <i class="fa fa-trash" style="font-size:24px; margin-right: 5px"></i>
            </button> -->
            <button *ngIf="auth.getAdmin() || auth.getRoleDelete()" data-toggle="modal" data-target="#modalDelete"
              mat-icon-button matTooltip="Delete Device" [matTooltipPosition]="toolTipsPosition" class="logo-icon">
              <i class="fa fa-trash-o" style="font-size:24px; margin-right: 5px"></i>
            </button>
            <!--<button (click)="removeItems(element)" mat-raised-button color="warn">Delete</button>-->
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)">
        </mat-row>

      </mat-table>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="example-no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No users found matching filter.
  </div>

  <mat-paginator #paginator [ngStyle]="{'font-size': '16px', 'font-style':'bold'}"
    [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>


<!-- Modal Add Device-->
<div class="modal fade " id="modalAddDevice" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <form [formGroup]="addForm" (ngSubmit)="addFormSubmit(addForm.value)">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalCenterTitle"
            [ngStyle]="{'font-size': '14px','font-family': 'Quicksand, sans-serif'}">Add New Device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 400px; overflow-y: auto;">


          <div class="form-group">
            <input type="text" class="form-control" placeholder="Dvdid" [(ngModel)]="model.dvdvid"
              formControlName="dvdvid">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvdown" [(ngModel)]="model.dvdown"
              formControlName="dvdown">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvdrch" [(ngModel)]="model.dvdrch"
              formControlName="dvdrch">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvloc1" [(ngModel)]="model.dvloc1"
              formControlName="dvloc1">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvloc2" [(ngModel)]="model.dvloc2"
              formControlName="dvloc2">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvloc3" [(ngModel)]="model.dvloc3"
              formControlName="dvloc3">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvserl" [(ngModel)]="model.dvserl"
              formControlName="dvserl">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvmake" [(ngModel)]="model.dvmake"
              formControlName="dvmake">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="dvmodl" [(ngModel)]="model.dvmodl"
              formControlName="dvmodl">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="latitude" [(ngModel)]="model.latitude"
              formControlName="latitude">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="longtitude" [(ngModel)]="model.longitude"
              formControlName="longitude">
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn draw-border" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn draw-border"><i class="fa fa-plus" aria-hidden="true"></i> Add
            Device</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Edit Device-->
<div class="modal fade  text-green" id="modalEditDevice" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content content-edit">

      <form [formGroup]="editForm" (ngSubmit)="onFormEdit(editForm.value)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edit Device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 400px; overflow-y: auto;">

          <div class="form-group">
            <label>Dvdid</label>
            <input type="text" class="form-control" placeholder="Dvdid" formControlName="dvdvid"
              [(ngModel)]="model.dvdvid" value="{{dvdvid}}" readonly>
          </div>

          <div class="form-group">
            <label>Dvbrch</label>
            <input type="email" class="form-control" placeholder="dvbrch" formControlName="dvbrch"
              [(ngModel)]="model.dvbrch" value="{{dvbrch}}" readonly>
          </div>

          <div class="form-group">
            <label>Dvdown</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvdown" formControlName="dvdown"
              placeholder="dvdown" value="{{dvdown}}">
          </div>

          <div class="form-group">
            <label>Dvdrch</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvdrch" formControlName="dvdrch"
              placeholder="dvdrch" value="{{dvdrch}}">
          </div>

          <div class="form-group">
            <label>Dvloc1</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvloc1" formControlName="dvloc1"
              placeholder="dvloc1" value="{{dvloc1}}">
          </div>

          <div class="form-group">
            <label>Dvloc2</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvloc2" formControlName="dvloc2"
              placeholder="dvloc2" value="{{dvloc2}}">
          </div>

          <div class="form-group">
            <label>Dvloc3</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvloc3" formControlName="dvloc3"
              placeholder="dvloc3" value="{{dvloc3}}">
          </div>

          <div class="form-group">
            <label>Dvserl</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvserl" formControlName="dvserl"
              placeholder="dvserl" value="{{dvserl}}">
          </div>

          <div class="form-group">
            <label>Dvmake</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvmake" formControlName="dvmake"
              placeholder="dvmake" value="{{dvmake}}">
          </div>

          <div class="form-group">
            <label>Dvmodl</label>
            <input type="text" class="form-control" [(ngModel)]="model.dvmodl" formControlName="dvmodl"
              placeholder="dvmodl" value="{{dvmodl}}">
          </div>

          <div class="form-group">
            <label>Latitude</label>
            <input type="text" class="form-control" [(ngModel)]="model.latitude" formControlName="latitude"
              placeholder="latitude" value="{{latitude}}">
          </div>

          <div class="form-group">
            <label>Longtitude</label>
            <input type="text" class="form-control" [(ngModel)]="model.longitude" formControlName="longitude"
              placeholder="longtitude" value="{{longitude}}">
          </div>

          <div class="form-group">
            <label>Report</label>
            <input type="text" class="form-control" [(ngModel)]="model.report" formControlName="report"
              placeholder="report" value="{{report}}">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn draw-border" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn draw-border"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="modalDelete" role="dialog" data-backdrop="false" #modaldelete>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"><i class="fa fa-user-times" aria-hidden="true"></i> Device Delete
          Confirmation
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Delete Device : {{dvdvid}} ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn draw-border" data-dismiss="modal" #closeBtn> Cancel</button>
        <button type="button" class="btn draw-border" (click)="deleteDevice(id, dvbrch)"><i class="fa fa-trash-o"
            aria-hidden="true"></i> Delete</button>
      </div>
    </div>
  </div>
</div>
