<!-- <div *ngIf="errorMessage" class="alert is-critical fixed-top">
  <p>{{errorMessage}}</p>
  <button class="close-button" mat-button (click)="errorMessage = null">
    <i class="fa fa-close"></i>
  </button>
</div> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
   -->

<!-- Modal Error -->
<div class="modal fade" id="errorMessage" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="c12 b1 parallax">

  <article id="loginPage">
    <div class="row water justify-content-center">
      <!-- <div class="row justify-content-center">
			<div class="card" style="width: 18rem;">
			<img src="../../assets/images/login/logoJatengBlue (1).png" class="card-img-top" alt="logoJtg">
			</div>
		</div> -->

      <div class="row justify-content-center align-content-center">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="row justify-content-center">
            <img src="../../assets/images/login/logoJatengBlue (1).png" class="card-img-top" alt="logoJtg">
          </div>
          <div class="form-group">
            <input [(ngModel)]="user.username" class="form-control" name="username" placeholder="Username"
              [required]="true" />
          </div>
          <div class="form-group">
            <input [(ngModel)]="user.password" type="password" class="form-control" name="password"
              placeholder="Password" [required]="true" />
          </div>
          <div class="row justify-content-center">
            <input name="rememberMe" [(ngModel)]="rememberMe" type="checkbox" id="test1" />
            <label for="test1">Remember me</label>
          </div>
          <div class="row justify-content-center"><a routerLink="/users/password">Forgot password</a></div>
          <button type="submit" class="btn-5 jstile" style="z-index: 99999;">{{actionTitle}}</button>
        </form>
      </div>
    </div>
  </article>

  <!-- <img src="../../assets/images/login/up1.png" alt="background urban" class="fixed-top" />
	<img src="../../assets/images/login/up2.png" alt="background urban" class="image--parallax-left fixed-top" />
	<img src="../../assets/images/login/up3.png" alt="background urban" class="image--parallax-right fixed-top" />
  
  
	<img src="../../assets/images/login/down1.png" alt="background urban" class="fixed-bottom" />
	<img src="../../assets/images/login/down2.png" alt="background urban" class="fixed-bottom" />
	<img src="../../assets/images/login/down3.png" alt="background urban" class="image--parallax-right fixed-bottom" />
	<img src="../../assets/images/login/down4.png" alt="background urban" class="image--parallax-left fixed-bottom" /> -->


  <!-- <div class="parallax">
    <div class="water water-layer4"></div>
    <div class="water water-layer3"></div>
    <div class="water water-layer2"></div>
    <div class="water water-layer1"></div>
</div> -->

</div>
