.parallax {
  // position: fixed;
  //   width: 100%;
  height: 100vh;
  //   overflow: hidden;
  //   left: 0;
}

.water {
  position: fixed;
  width: 100%;
  //   height: 100vh;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
}
