.mapboxgl-map {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 400px;
}

.sebm-google-map-container {
  height: 400px;
}


.backstyle {
  color: #4488a0;
}

.mat-card {
  padding: 5px;
  background: linear-gradient(to right, #4488a0, #6b8ab1);
}
