.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.app-primary .mat-toolbar.mat-primary {
  /* background: linear-gradient(to right, #bdc3c7, #243d57); */
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

button.btn {
  /* border: 1px solid #bdc3c7; */
  width: 100%;
  /* background: linear-gradient(to right, #c31432, #240b36); */
  /* transform: linear 0.4s;
  font-size: small;
  box-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.75); */
  padding: 10px 14px;
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .15);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  margin-bottom: 1em;
  background: linear-gradient(to top, #4488a0, #6b8ab1);
  color: #ffffff;
}

button.btn:hover {
  background: #4488a0;
  color: #ffffff;
  transform: scale(1);
}

.app-sidenav {
  background: linear-gradient(to top, #4488a0, #6b8ab1, #e9f2fa);
}


/* Navbar */
@import 'https://fonts.googleapis.com/css?family=Raleway';


img {
  width: 125px;
  height: 55px;
}


#navBar {
  position: fixed;
  width: 100vw;
  /* height: 50px; */
  background-color: #DEDEDE;
  transition: 0.2s;
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px);
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}



ul {
  font-family: Raleway;
  margin: 0 auto;
  padding: 10em 3em;
}

li {
  margin: 10px 20px;
  min-width: 100px
}

ul li a {
  color: #e2e2e2;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

nav {
  /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
  background: linear-gradient(to right, #4488a0, #6b8ab1);
  padding-right: 50px;
  padding-left: 50px;
}

.l-content-small {
  margin-top: 100px;
  padding: 0;
  height: 100%;
}



/*CSS3 STROKE EFFECT*/
#navBar ul {
  list-style: none;
  margin: 0;

}

#navBar ul li {
  display: inline-block;
  display: inline;
  margin: 20px;
}

#navBar ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
}

#navBar ul li a,
#navBar ul li a:after,
#navBar ul li a:before {
  transition: all .5s;
}

#navBar ul li a:hover,
#navBar ul li a:active {
  color: #84deff !important;
}

a.active {
  color: #84deff !important;
}

/* stroke */
#navBar.stroke ul li a {
  position: relative;
}

#navBar.stroke ul li a:after,
#navBar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #84deff;
  height: 1px;
}

#navBar.stroke ul li a:hover:after {
  width: 100%;
}

#navBar ul li a {
  transition: all 1s;
}

#navBar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

#navBar ul li a:hover {
  color: #84deff;
  z-index: 1;
}

#navBar ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

/* ======================== */

/* @media (max-width: 575.98px) {
  .l-content-small {
    margin-top: 110px;
  }
} */
