<ngx-ui-loader></ngx-ui-loader>
<mat-sidenav-container [class.app-primary]="true">

  <!-- <mat-sidenav #sidenav mode="side" class="app-sidenav">

    <div class="app-navigation">

      <nav style="height: 200px;">
        <img src="../assets/images/edclogo2.png" style="    width: 260px;
        height: 160px;
        margin: 10px;
    ">
      </nav>

      <nav>
        <h3 style="margin-top: 5px; background: transparent;">
          <span class="user-email" *ngIf="currentUser !== null">{{currentUser.email}}</span>
        </h3>
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">
              <i class="fa fa-home" style="font-size:24px; margin-right: 5px; margin-top: 20px"></i>
              Home
            </a>
          </li>

          <li *ngIf="auth.getAdmin()">
            <a routerLink="/account" routerLinkActive="active">
              <i class="fa fa-male" style="font-size:24px; margin-right: 5px"></i>
              Account
            </a>
          </li>


          <li>
            <a routerLink="/device-table" routerLinkActive="active">
              <i class="fa fa-table" style="font-size:24px; margin-right: 5px"></i>
              Device Table
            </a>
          </li>


          <li *ngIf="!auth.getGuest()">
            <a routerLink="/chat" routerLinkActive="active">
              <i class="fa fa-map-o" style="font-size:24px; margin-right: 5px"></i>
              Chat
            </a>
          </li>


          <li *ngIf="!auth.getGuest()">
            <a routerLink="/test" routerLinkActive="active">
              <i class="fa fa-map-o" style="font-size:24px; margin-right: 5px"></i>
              chat test
            </a>
          </li>


        </ul>
      </nav>


    </div>

  </mat-sidenav> -->

  <!-- <mat-toolbar *ngIf="auth.getisLogin()" color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title"><img src="../assets/images/login/logoJatengWhite.png"
        style="width: 130px; height: 60px; margin-top: 15px"></span>
    <span class="app-toolbar-filler"></span>
    <button class="btn" *ngIf="auth.getisLogin()" (click)="signOut()">Sign Out</button>

  </mat-toolbar> -->
  <nav *ngIf="auth.getisLogin()" id="navBar"
    class="navbar navbar-expand-lg navbar-dark bg-light fixed-top navbar-fixed-top stroke" style="z-index: 1034;">
    <!-- <div class="row"> -->
    <a class="navbar-brand" href="#"><img src="../assets/images/login/logoJatengWhite.png" alt="logo"></a>
    <!-- </div> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col d-inline-flex p-2 justify-content-center">
        <li class="topBotomBordersOut">
          <a id="tipeA" routerLink="/home" routerLinkActive="active">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li *ngIf="auth.getAdmin()" class="topBotomBordersOut">
          <a id="tipeB" routerLink="/account" routerLinkActive="active">
            <i class="fa fa-users"></i>
            Account
          </a>
        </li>
        <li class="topBotomBordersOut">
          <a id="tipeC" routerLink="/device-table" routerLinkActive="active">
            <i class="fa fa-table"></i>
            Device Table
          </a>
        </li>
        <li id="tipeD" *ngIf="!auth.getGuest()" class="topBotomBordersOut">
          <a id="tipeD" routerLink="/test" routerLinkActive="active">
            <i class="fa fa-comments-o"></i>
            Chat
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <button *ngIf="auth.getisLogin()" (click)="signOut()" class="btn btn-outline-light my-2 my-sm-0"
          type="submit">Logout</button>
      </form>
    </div>
  </nav>


  <div class="l-content-small grid-fluid">
    <router-outlet>
    </router-outlet>
  </div>
</mat-sidenav-container>

<!-- ===== NAVBAR =====
    ######################### -->
<!-- <nav [class.app-primary]="true" *ngIf="auth.getisLogin()" id="navBar"
  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col d-inline-flex p-2 justify-content-center">
      <li class="topBotomBordersOut">
        <a routerLink="/home" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li *ngIf="auth.getAdmin()" class="topBotomBordersOut">
        <a routerLink="/account" routerLinkActive="active">
          <i class="fa fa-users"></i>
          Account
        </a>
      </li>
      <li class="topBotomBordersOut">
        <a routerLink="/device-table" routerLinkActive="active">
          <i class="fa fa-table"></i>
          Device Table
        </a>
      </li>
      <li *ngIf="!auth.getGuest()" class="topBotomBordersOut">
        <a routerLink="/chat" routerLinkActive="active">
          <i class="fa fa-comments-o"></i>
          Chat
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="auth.getisLogin()" (click)="signOut()" class="btn btn-outline-success my-2 my-sm-0"
        type="submit">Logout</button>
    </form>
  </div>
</nav> -->
