
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    
    <div class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img *ngIf="userAvatarSelected" src="data:image/jpg;base64,{{ userAvatarSelected }}"
                  class="rounded-circle user_img">
                <img *ngIf="!userAvatarSelected" src="../../assets/icon/person.png" class="rounded-circle user_img">
              <span class="online_icon" *ngIf="isAdminLogin === 1"></span>
              <span class="offline_icon" *ngIf="isAdminLogin === 0"></span>
            </div> 
            <div class="user_info">
              <span>Chat with Administrator </span>
              <p *ngIf="isAdminLogin === 1">Admin Online</p>
              <p *ngIf="isAdminLogin === 0">Admin Offline</p>
            </div>
          </div>
        </div>



        <div class="card-body msg_card_body">

          <ng-container *ngFor="let item of messageData">
            <div class="d-flex justify-content-start mb-4" *ngIf="item.username !== userName">
              <div class="img_cont_msg">

                <img *ngIf="userAvatarSelected" src="data:image/jpg;base64,{{ userAvatarSelected }}"
                  class="rounded-circle user_img_msg">
                <img *ngIf="!userAvatarSelected" src="../../assets/icon/person.png" class="rounded-circle user_img_msg">

              </div>
              <div class="msg_cotainer">
                {{item.message}}
                <span class="msg_time">{{item.created_at | date: ' hh:mm:ss - dd/MM/yyyy ' }}</span>
              </div>
            </div>

            <div class="d-flex justify-content-end mb-4" *ngIf="item.username == userName">
              <div class="msg_cotainer_send">
                {{item.message}}
                <span class="msg_time_send">{{item.created_at | date: ' hh:mm:ss - dd/MM/yyyy ' }}</span>
              </div>
              <div class="img_cont_msg">
                <img *ngIf="userAvatar" src="data:image/jpg;base64,{{ userAvatar }}"
                  class="rounded-circle user_img_msg">
                <img *ngIf="!userAvatar" src="../../assets/icon/person.png" class="rounded-circle user_img_msg">
              </div>
            </div>




          </ng-container>



        </div>
        <div class="card-footer">
          <div class="input-group">
            <textarea class="form-control type_msg" placeholder="Type your message..." id="textMessage"></textarea>
            <div class="input-group-append">
              <span class="input-group-text send_btn" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
